:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --highlight-color: #E9742D;
    --highlight-color-faded: #D26A22;
    --header-color: #0B1F3A;
    --header-color-light: #103058;
    --header-color-lightly: #112f57;
}
